:root {
  --slate-50: #f8fafc;
  --slate-200: #e2e8f0;
  --slate-400: #94a3b8;
  --emerald-300: #6ee7b7;
  --emerald-500: #10b981;
  --green-700: #15803d;
  --teal-900: #134e4a;
  --teal-900a: #134e4a14;
  --teal-900a1: #134e4a50;
  --slate-700: #334155;
  --slate-950: #020617;
  --slate-950a: #02061755;
}